.teamMain {
  background: #f7f7f7;
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.teamMainInner {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.teamMainInner h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.teamStatement {
  display: grid;

  grid-template-columns: auto 1fr;
  padding-top: 40px;
  width: 100%;
}

.teamProject {
  display: flex;

  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;

  height: calc(100% - 140px);
  margin-top: auto;
  padding: calc(40px + 32px) 0;
  padding-bottom: 90px;
  padding-right: 32px;
}

.teamProject h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.userMain {
  /* display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr)); */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.labelContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 50px;
}
.stateMain {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.review {
  width: 28px;
  height: 28px;
}
.stateReviews {
  padding: 28px 0;
}
.stateMain {
  text-align: center;
}
@media only screen and (max-width: 1440px) {
  .teamMainInner h2 {
    font-size: 45px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
  }
  .teamProject h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: #000;
    text-align: right;
  }
}
