.progressMid {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.progressMidTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.progressMidTop h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 8px;
  max-width: 264px;
}

.progressMain {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 32px;
  background: #fff;
  height: 100%;
  /* min-height: 436px; */
}
.progressMain h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-left: 12px;
}
.proMain2 .proMainInner,
.proMainStart {
  display: flex;
  align-items: center;

  height: 100%;
}
.proMainInner {
  gap: 25px;
}

.progressInner {
  border-left: 4px solid #000;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.statementContainer {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
