.progressMid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  min-width: 200px;
}
.items-1 {
  width: 100%;
}
.items-2 {
  width: calc(100% * 1.2);
}

.items-3 {
  width: calc(100% * 2.4);
}

/* ${
        styles[`items-${data.statements.length}`]
      }  ${data.statements.length > 6 && styles[`items-6`]} */
.progressMain {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 32px;
  background: #fff;
  height: 100%;
  /* min-height: 436px; */
  margin-top: auto;
}

.proMain2 .proMainInner,
.proMainStart {
  display: flex;
  align-items: center;

  height: 100%;
}
.proMainStart {
  align-items: center;
  gap: 10px;
  height: 100%;
  position: relative;
}
.progressMain h4 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
.proMainInner {
  gap: 18px;
}

.progressInner {
  border-left: 4px solid #000;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.statementContainer {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
@media only screen and (max-width: 1440px) {
  .progressMain {
    padding: 25px;
  }
  .progressMain h4 {
    margin-left: 8px;
    font-size: 22px;
  }
}
